<div>
  <h1>Cocktails</h1>
  <ul>
    <%= for cocktail <- @cocktails do %>
      <li data-role="cocktail"><%= cocktail.name %></li>
    <% end  %>
  </ul>
  <div>
    <%= link "New cocktail", to: Routes.cocktail_path(@conn, :new) %>
  </div>
</div>
