<div>
  <%= form_for @changeset, Routes.cocktail_path(@conn, :create), fn f -> %>
    <label>
      Name:
      <%= error_tag f, :name %>
      <%= text_input f, :name %>
    </label>

    <label>
      Glass:
      <%= error_tag f, :glass, as: :glass_id %>
      <%= error_tag f, :glass_id %>
      <%= select f, :glass_id, @glasses %>
    </label>

    <%= submit "Add cocktail" %>
  <% end %>
</div>
