<h1 data-role="cocktail-name"><%= @cocktail.name %></h1>
<ul>
  <li>Glass: <span data-role="glass-name"><%= @cocktail.glass.name %></span></li>
  <li>Source: <span data-role="source-name"><%= @cocktail.source.name %></span>, <span data-role="source-detail"><%= @cocktail.source_detail %></span></li>
</ul>
